body {
    background-color: antiquewhite;
}

header {
    margin: 0;
    background-color: burlywood;
    color: #402a09;
    padding: 20px;
}

h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.form-container {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
    max-width: 800px;
    background-color: burlywood;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color:#402a09;
}

label {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    color:#402a09;
}

input {
    width: 650px;
    padding: 15px;
    margin-top: 10px;
    border: solid burlywood;
    border-radius: 6px;
    font-size: 16px;
    color:#402a09;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color:burlywood;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-btn {
    background: antiquewhite;
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: inline-block;
    font-size: 20px;
}

.submit-btn:hover {
    background: #402a09;
    color: white;
}